* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 40px 0 40px 0;
  background-color:  #f6fafc;
  font-family: Helvetica, Arial, sans-serif;
}

main{
  height: 90vh;
  width: 90%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;

}

section {
  border-radius: 25px;
  box-shadow: 4px 3px 5px rgba(82, 81, 81, 0.8);
  height: 100%;
  width: 20%;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
}

section::-webkit-scrollbar{
  display: none;
}
/*hacer colores algo más oscuros*/
#to-do{
  background-color: #e46b91;
}

#in-progress{
  background-color: #6982ca; /*hacer colores algo más oscuros*/
}

#done{
  background-color: #65d865; /*hacer colores algo más oscuros*/
}

.encabezado {
  display: flex;
  justify-content: center;
  padding: 15px;
  /*border-bottom: 0.2px solid #3aa2df;*/
  position: relative;
  flex-wrap: wrap;
  position: sticky;
  top: 0px;
  text-wrap: balance;
  
}



h2{
  display: inline;
  flex: none;
  margin: 0 auto;
  text-wrap: wrap;
}

button{
  background-color: #000000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

button:active{
  transform: scale(.9);
}

img{
  width: 20px;
  height: 20px;
  
  /*padding: 2px;*/
}



.tasks{
  width: 95%;
  height: fit-content;
  margin: 5px;
  animation: aparition 0.3s cubic-bezier(0, 0, 0.41, 1.02);
  border-radius: 10px;
  margin: 0 auto;
  /*cursor: grab;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  cursor: grab;
  background-color: #ffffff;
  color: #1a1919;
}

.dragging{
  cursor: grabbing;
  background-color: #ffffff;
  color: #1a1919;
  scale: 1.05;
}

.tasks button{
  align-self: flex-end;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  /*background-color: #e42020;*/
  background-color: #1a1919;
  color: #ffffff;
  border-radius: 7px;
  font-weight: bold;
  font-size: .88em;
  cursor: pointer;
}

.tasks h3, .tasks p{
  cursor: text;
}


[contenteditable = "true"]:active,
[contenteditable = "true"]:focus{
  color: #a1a1a1;
  border: none;
  outline: none;
  border: 1px solid #fff;
  border-radius: 7px;
}

@keyframes aparition {
  from {
      transform: scale(0.8);
      opacity: 0.5;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}