* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 40px 0 40px 0;
  background-color:  #f6fafc;
  font-family: Helvetica, Arial, sans-serif;
}

main{
  height: 90vh;
  width: 90%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
  align-items: center;

}

section {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 7px 5px 5px rgb(63 63 101 / 80%);
  height: 100%;
  width: 20%;
  background-color: white;
  overflow-y: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}

section::-webkit-scrollbar{
  display: none;
}

.encabezado {
  display: flex;
  justify-content: center;
  padding: 15px;
  /*border-bottom: 0.2px solid #3aa2df;*/
  position: relative;
  flex-wrap: balance;
  position: sticky;
  top: 0px;
  
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; /* alto máximo del borde */
  background: linear-gradient(to right, transparent, #3aa2df 50%, transparent);
  pointer-events: none;
}


h2{
  display: inline;
  flex: none;
  margin: 0 auto;
  text-wrap: wrap;
}

button{
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  
}

button:active{
  transform: scale(.9);
}

img{
  width: 20px;
  height: 20px;
  
  /*padding: 2px;*/
}




.tasks{
  width: 95%;
  height: fit-content;
  border: 1px solid black;
  margin: 5px;
  animation: aparition 0.3s cubic-bezier(0, 0, 0.41, 1.02);
  border-radius: 10px;
  margin: 0 auto;
  /*cursor: grab;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.tasks button{
  align-self: flex-end;
  width: fit-content;
  padding: 5px 15px 5px 15px;
  background-color: #e42020;
  color: #ffffff;
  border-radius: 7px;
  font-weight: bold;
  font-size: .88em;

}

[contenteditable = "true"]:active,
[contenteditable = "true"]:focus{
  color: #a1a1a1;
  padding: .5em;
  background: #ffffff;
  border: 1px solid #999;
}

@keyframes aparition {
  from {
      transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }

}